<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="wardrones">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <dependent-module archiveName="mysql-connector-java-5.1.21-bin.jar" deploy-path="/WEB-INF/classes/Persistencia" handle="module:/classpath/lib/C:/Program Files/Java/jre1.8.0_121/lib/mysql-connector-java-5.1.21-bin.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/wardrones/build/classes"/>
        <property name="context-root" value="wardrones"/>
    </wb-module>
</project-modules>
