
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

html, body{
	display: block;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

body{
	margin-top: 5%;
	background-image: url(assets/bgdark.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

canvas {
	margin-left: 200px; 
}

.esconderJuego{
	display: none !important;
}

select{
	display: inline-block;
	margin: 15px 0;
	padding: 0px;
	width: 100%;
	background-color: #f1f1f1;
	border: none;
	border-radius: 4px;
	outline: none;
}

select option {
	padding: 10px;
	background-color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 300;
	border: 1px solid #f1f1f1;
}

select option:selected{
	background-color: #f1f1f1;
}

section{
	margin: 0 auto;
	width: 100%;
}

h2{
	font-weight: 300;
	font-size: 18px;
}

#seccion-menu{
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#seccion-menu img{
	margin-bottom: 30px;
}

#seccion-menu #btn-jugar{
	font-family: 'Source Sans Pro', sans-serif;
	outline: none;
	text-align: center;
	width: 250px;
	padding: 12px 18px;
	margin: 10px 0;
	background-color: #313d46;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#seccion-menu #btn-jugar:hover{
	background-color: #273138;
	-ms-transition: all 0.15s ease-in;
	-moz-transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}

#seccion-apodo{
	display: none;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	color: #fff;
}

#contenido-apodo{
	background-color: #273138;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#contenido-apodo input[type="text"]{
	border-radius: 4px;
	outline: none;
	border: none;
	padding: 10px;
	color: #383838;
	background-color: #f1f1f1;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	width: 100%;
	font-weight: 400;
}

#contenido-apodo button{
	font-family: 'Source Sans Pro', sans-serif;
	outline: none;
	text-align: center;
	width: 220px;
	padding: 12px 18px;
	margin: 10px 0 0 0;
	background-color: #313d46;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#seccion-lobby{
	display: none;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px;
	margin: 0px;
	color: #fff;
}

#contenido-lobby{
	background-color: #273138;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
}

#contenido-lobby #btn-jugar-lobby{
	font-family: 'Source Sans Pro', sans-serif;
	outline: none;
	text-align: center;
	width: 220px;
	padding: 12px 18px;
	margin: 10px 0 0 0;
	background-color: #313d46;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#equipos{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}

.columna-equipo{
	width: 190px;
	height: 200px;
	margin: 0px 15px;
	border: 1px solid #313d46;
	border-radius: 4px;
	padding: -1px;
	overflox: hidden;
}

.lista-jugadores{
	list-style: none;
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}

.lista-jugadores li{
	float: left;
	width: 100%;
	padding: 4px 0;
	text-align: center;
}

.columna-equipo button{
	font-family: 'Source Sans Pro', sans-serif;
	padding: 12px 18px;
	margin-bottom: 10px;
	color: #fff;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
	width: 100%;
	text-align: center;
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: 300;
	border-radius: 4px 4px 0 0;
}

#btn-jugar-lobby{
	margin-top: 20px;
}

#btn-aereo{
	background-color: #e74c3c;
}

#btn-aereo:hover{
	background-color: #c0392b;
}

#btn-espera{
	background-color: #7f8c8d;
}

#btn-terrestre{
	background-color: #3498db;
}

#btn-terrestre:hover{
	background-color: #2980b9;
}

.tecla{
	padding: 20px;
	text-align: center;
	color: #383838;
	background-color: #fff;
	border-radius: 3px;
}

#seccion-recuperar{
	display: none;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px;
	color: #fff;
}

#contenido-recuperar{
	background-color: #273138;
	padding: 40px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#contenido-recuperar button{
	font-family: 'Source Sans Pro', sans-serif;
	outline: none;
	text-align: center;
	width: 220px;
	padding: 12px 18px;
	margin: 10px 0 0 0;
	background-color: #313d46;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#seccion-pausa{
	z-index: 900;
	margin: 0 auto;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


#menu-pausa{
	padding: 30px;
	width: 270px;
	background-color: #fff;
	color: #383838;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow:hidden;
}

#menu-pausa button{
	font-family: 'Source Sans Pro', sans-serif;
	outline: none;
	text-align: center;
	width: 220px;
	padding: 12px 18px;
	margin: 10px 0;
	background-color: #313d46;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#seccion-guardar{
	z-index: 999;
	margin: 0 auto;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#menu-guardar {
	padding: 30px 40px;
	background-color: #273138;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow:hidden;
}

#menu-guardar input[type="text"]{
	border-radius: 4px;
	outline: none;
	border: none;
	padding: 10px;
	color: #383838;
	background-color: #f1f1f1;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	width: 100%;
	font-weight: 400;
}

#botones-guardar{
	width: 100%;
}

#botones-guardar button{
	width: 45%;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	outline: none;
	text-align: center;
	padding: 12px 18px;
	margin: 10px 0;
	background-color: #313d46;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}


#botones-guardar button:first-child{
	float: left;
}

#botones-guardar button:last-child{
	float: right;
	background-color: #5ed490;
}

#seccion-validar-guardar{
	z-index: 999;
	margin: 0 auto;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#mensaje-validar-guardar{
	text-align: center;
	padding: 30px;
	background-color: #fff;
	color: #383838;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow:hidden;
}

#mensaje-validar-guardar p{
	color: #383838;
	text-align: center;
	padding: 10px;
	font-weight: 300;
	width: 100%;
	display: inline-block;
}

.exito{
	color: #fff;
	background-color: #5ed490;
}

.error{
	color: #fff;
	background-color: #f56668;
}

#mensaje-validar-guardar button{
	font-family: 'Source Sans Pro', sans-serif;
	outline: none;
	text-align: center;
	padding: 12px 18px;
	margin: 10px 0 0 0;
	background-color: #313d46;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#seccion-finalizada{
	z-index: 999;
	margin: 0 auto;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	padding: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#seccion-estadisticas{
	width: 100vw;
	height: 100vh;
	margin: 0;
	text-align: center;
	padding: 30px;
	background-color: #273138;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow:hidden;
}

#seccion-estadisticas button{
	font-family: 'Source Sans Pro', sans-serif;
	outline: none;
	text-align: center;
	width: 250px;
	padding: 12px 18px;
	margin: 10px 0;
	background-color: #313d46;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#seccion-error-recuperar{
	z-index: 999;
	margin: 0 auto;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#contenido-error-recuperar{
	text-align: center;
	padding: 20px;
	width: 370px;
	background-color: #fff;
	color: #383838;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow:hidden;
}

#contenido-error-recuperar button{
	font-family: 'Source Sans Pro', sans-serif;
	outline: none;
	text-align: center;
	padding: 12px 18px;
	margin: 10px 0;
	background-color: #313d46;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#seccion-controles{
	display: none;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px;
	margin: 0px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
}

#contenido-controles{
	background-color: #273138;
	padding: 20px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#contenido-controles button{
	font-family: 'Source Sans Pro', sans-serif;
	outline: none;
	text-align: center;
	width: 250px;
	padding: 12px 18px;
	margin: 10px 0;
	background-color: #313d46;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#seccion-controles-pausa{
	z-index: 999 !important;
	display: none;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px;
	margin: 0px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
}

#contenido-controles-pausa{
	background-color: #273138;
	padding: 20px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#contenido-controles-pausa button{
	font-family: 'Source Sans Pro', sans-serif;
	outline: none;
	text-align: center;
	width: 250px;
	padding: 12px 18px;
	margin: 10px 0;
	background-color: #313d46;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#lateral
{
    position: fixed;
    bottom: 0;
    right: 0;
}